<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="shortcut icon" href="https://iconos8.es/icon/12780/calculadora" type="image/x-icon">
    <%- include('partials/head') %>
    <title>
        <%= title %>
    </title>
</head>
<body>

    <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="container">
        <header>
          <a href="/" class="logo">Calculadora</a>
          <%- include('partials/navigation') %>
        </header>
    
        <div class="contenido">
          <h2>Objetivo</h2>
          <P>El objetivo de este proyecto es mejorar la capacidad de programación del equipo mediante la resolución de
            problemas matemáticos y ejercicios prácticos utilizando funciones, reutilización de código y parámetros, con el
            fin de aumentar la eficiencia y calidad del código producido en futuros proyectos.</P>
          <a href="/calcul">
            <button class="button">Ver Proyecto <Ver class="fa fa-code-branch"></i></button>
          </a>
        </div>
    
        <div class="bar">
          <div class="ball"></div>
        </div>
    
        <ul class="iconos">
          <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
          <li><a href="https://github.com/fborjaz/Tareea-2-JS-node.js" target="_blank"><i class="fa fa-github"></i></a></li>
          <!-- <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
        </ul>
        <p class="copy">github.com/fborjaz -@fborjaz</p>
      </div>
    
    </section>

    <script src="/utils.js"></script>

</body>
</html>