<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Suma_N.css">        
        <title>Primos</title>
    </head>
    <body>
        
        <div class="contenido">
            <label for="">Ingrese un numero</label>
            <input type="number" placeholder="Ingrese los numeros" id="Num" value="0">
            <button onclick="perfecto()">Ver</button>
        </div>

        <div class="Erjecioi2">
            <button onclick="N_Primo()">Ver numeros PRimos</button>
        </div>
        <div class="Erjecioi2">
            <button onclick="N_Perfecto()">Ver numeros Perfectos</button>
        </div>
        
        <div class="restu">

        </div>

         <script src="/funciones.js"></script>
    </body>
</html>