<ul>
  <li><a href="/" class="activo"><i class="fa fa-home"></i> Home</a></li>
  <li><a href="/calcul"><i class="fa fa-calculator-simple"></i> Calculadora</a></li>
  <li class="active"><a href="/about"><i class="fa fa-plus-square-o"></i> Sobre Nosotros</a></li>
  <li><a href="#"><i class="fa fa-gear"></i> Configuraciones</a></li>
  <!-- fa-light fa-calculator-simple -->
</ul>