<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 1 </span>
        <p class="job"> Suma de numeros perfectos</p>
        <!-- <button> Click -->
        <a href="/Suma_N_Perfect">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 2 </span>
        <p class="job"> Presentar numeros primos</p>
        <!-- <button> Click -->
        <a href="/N_Primos">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 3 </span>
        <p class="job">Base X exponente</p>
        <!-- <button> Click -->
        <a href="/Base_Exponente">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 4 </span>
        <p class="job">Numero Elevado</p>
        <!-- <button> Click -->
        <a href="/Numero_Elevado">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 5 </span>
        <p class="job">Tabla de Multiplicar</p>
        <!-- <button> Click -->
        <a href="/Multiplicacion">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 6 </span>
        <p class="job">Divisores con numero inicial</p>
        <!-- <button> Click -->
        <a href="/Arreglo_Divisores">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 7 </span>
        <p class="job">Suma de Divisores</p>
        <!-- <button> Click -->
        <a href="/SumaDivisores">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 8 </span>
        <p class="job">Retorno de Arreglo</p>
        <!-- <button> Click -->
        <a href="/RetornoArreglo">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 9 </span>
        <p class="job">Suma de Digitos</p>
        <!-- <button> Click -->
        <a href="/SumadeDigito">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 10 </span>
        <p class="job">Digitos Pares</p>
        <!-- <button> Click -->
        <a href="/DigitosPares">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 11 </span>
        <p class="job">Presentar Primer Digito</p>
        <!-- <button> Click -->
        <a href="/PrimerDigito">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 12 </span>
        <p class="job">Presentar Ultimo Digito</p>
        <!-- <button> Click -->
        <a href="/UltimoDigito">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 13 </span>
        <p class="job">Factorial de Numero</p>
        <!-- <button> Click -->
        <a href="/Factorial">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 14 </span>
        <p class="job">Factorial de Serie</p>
        <!-- <button> Click -->
        <a href="/ArregloFactorial">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 15 </span>
        <p class="job">Rango de Numero</p>
        <!-- <button> Click -->
        <a href="/RangoNumero">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>