<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 1 </span>
        <p class="job"> Suma de numeros perfectos</p>
        <!-- <button> Click -->
        <a href="/Suma_N_Perfect">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 2 </span>
        <p class="job"> Presentar numeros primos</p>
        <!-- <button> Click -->
        <a href="#">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 3 </span>
        <p class="job">Base X exponente</p>
        <!-- <button> Click -->
        <a href="#">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 4 </span>
        <p class="job">Base X exponente</p>
        <!-- <button> Click -->
        <a href="#">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 5 </span>
        <p class="job">Base X exponente</p>
        <!-- <button> Click -->
        <a href="#">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 6 </span>
        <p class="job">Base X exponente</p>
        <!-- <button> Click -->
        <a href="#">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 7 </span>
        <p class="job">Base X exponente</p>
        <!-- <button> Click -->
        <a href="#">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 8 </span>
        <p class="job">Base X exponente</p>
        <!-- <button> Click -->
        <a href="#">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 9 </span>
        <p class="job">Base X exponente</p>
        <!-- <button> Click -->
        <a href="#">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 10 </span>
        <p class="job">Base X exponente</p>
        <!-- <button> Click -->
        <a href="#">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 11 </span>
        <p class="job">Base X exponente</p>
        <!-- <button> Click -->
        <a href="#">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 12 </span>
        <p class="job">Base X exponente</p>
        <!-- <button> Click -->
        <a href="#">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 13 </span>
        <p class="job">Base X exponente</p>
        <!-- <button> Click -->
        <a href="#">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 14 </span>
        <p class="job">Base X exponente</p>
        <!-- <button> Click -->
        <a href="#">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>

<div class="card">
    <div class="item-contenido">

        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Ejercicio 15 </span>
        <p class="job">Base X exponente</p>
        <!-- <button> Click -->
        <a href="#">
            <button class="cssbuttons-io-button"> Ir al ejercicio
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor"
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                        </path>
                    </svg>
                </div>
            </button>
        </a>
    </div>
</div>