
    <div class="card">
        <span>Suma de los numeros perfectos</span>
    </div>
    <div class="card">
        <span>Presentacion de los numeros primos</span>
    </div>
    <div class="card">
        <span>Hover me</span>
    </div>
