* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

/* Header */

header {
  padding: 50px 0;
}

header .title {
  text-align: center;
  margin-bottom: 40px;
}

header .title p {
  color: #9B9B9B;
}

/* Section */

.section {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  position: relative;
  width: 100%;
  transition: opacity 0.5s linear 1s;
}

.section .card {
  display: block;
  padding: 0;
  margin: 10px;
  width: calc(33.333333% - 20px);
  position: relative;
}

.section .item-contenido {
	position: absolute;
}


/* CARD */

.item-contenido {
  width: 190px;
  height: 254px;
  background: #3405a3;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #100a886b;
}

.item-contenido .card-border-top {
  width: 60%;
  height: 3%;
  background: #6b64f3;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.item-contenido span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.item-contenido .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

.item-contenido .img {
  width: 70px;
  height: 80px;
  background: #6b64f3;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
}

.item-contenido button {
  padding: 8px 25px;
  font-family: inherit;
  margin: auto;
  border-radius: 100px;
  margin-top: 30px;
  background: #6b64f3;
  color: white;
}

.item-contenido button:hover {
  background: #534bf3;
}

.cssbuttons-io-button {
  background: #A370F0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 100px;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}